/* VARIABLES */
$bgcolor: #000;
$txtcolor_white: #fff;
$txtcolor_black: #000;
$bigheadline_size: 8.8rem;
$middleheadline_size:6.4rem;
$smallheadline_size: 3.2rem;
$txt_size: 1.6rem;
$btnsize:2rem;
$firstfont:lora,arial;
$secondfont:work,arial;