/* IMPORTS */
@import "variables";
@import "mixin";
@import "style";
@import "mediaqueries";

@font-face {
    font-family: lora;
    src: url(../fonts/Lora-SemiBold.ttf);
}
@font-face {
    font-family: work;
    src: url(../fonts/WorkSans-SemiBold.ttf);
}


/* HEADER */
header{
    background-color: $bgcolor;
    .herowrapper{
        @include herostyling;
        .line{
            object-fit: cover;
            height:20%;
            width: 100%;
        }
        .titlewrapper{
            @include flexcolumncenter;
            .titlebox{
                max-width: 70%;
                @include flexcolumncenter;
                text-align: center;
                        }
                    } 
        .bear_btn{
            @include flexrowspace;
            width: 100%;
        }
    }
}

/* MAIN */
main{
    background-color: $bgcolor;
    /*LAST YEAR */
        .lastyearwrapper{
            @include lastyearstyling;
            position: relative;
            h2{
                z-index: 2;
            }
            img{
                position: absolute;
                height:68%;
                bottom:10%;
                right: 0;
            }
        }
    /* STUCK */
        .stuckmiddle{
            @include stuckmiddlestyling;
            position: relative;
            article{
                max-width: 25%;
            }
            .txtbeginning h2{
                line-height: 3.6458333333333335vw;
                // line-height: 7rem;
                margin:2rem 0 ;
            }
        }
    /* GOLDEN BEAR */
        .goldenbear{
            @include goldenbearstyling;
            .headlinebox{
                padding: 0 35vw 0 0;
                position: relative;
                    p{
                        margin-bottom: 2rem;
                    }
                    h2{
                        line-height: 3.6458333333333335vw;
                        // line-height: 7rem;
                    }
                    .bearimg1{
                        position: absolute;
                        left: 5%;
                        bottom:-15%;
                        height: auto;
                        width: 50vw;
                        right: 0;
                        z-index: 1;
                    }
                }
            .contentbox{
                position: relative;
                .testimonial{
                    p{ 
                        @include testimonialstyling;
                    }
                }
                    .bearimg2{
                        position: absolute;
                        bottom: -11%;
                        left: -2%;
                        z-index: 1;
                        height: auto;
                        width: 30vw; 
                    }
            }
            }
    /* POPPY BEAR */
        .poppybear{
            background-color: $txtcolor_white;
            @extend .goldenbear;
            color:$txtcolor_black;
            height: 200vh;
            position: relative;
            overflow: hidden;
            .circleanimation{
                height: 25%;
                position: absolute;
                right: -10%;
                top: -10%;
                overflow: hidden;
                animation: rotate-center 8s linear infinite both;
                @keyframes rotate-center {
                    0% {
                      -webkit-transform: rotate(0);
                              transform: rotate(0);
                    }
                    100% {
                      -webkit-transform: rotate(360deg);
                              transform: rotate(360deg);
                    }
                }
            }
            .headlinebox{
                .bearimg3{
                    position: absolute;
                    height:70vh;
                    width: 30vw;
                    left: 5%;
                    z-index: 2;
                    top: 35%;
                }
            }
            .contentbox{
                .bearimg4{
                    position: absolute;
                    height:55%;
                    bottom:10%;
                    right: 0;
                    z-index: 1; 
                    height:70%;
                    width: 60vw;
                    max-width: unset;
                    
                }
            }
        }
        }

/*FOOTER*/
footer{
   @include footer;
   position: relative;
   overflow: hidden;
   .footerrow{
    @include flexrowspace;
    .rightbox img{
        width: 30%;
        padding-right: 1rem;
    }
   }
}
.footercontent .footerbanner {
    width: 220vw;
    padding: 4rem;
    background-color: #fff;
    transform: translate(-30%, 150%) rotate(45deg);
    position: absolute;
    margin-left: 35vw;
    top: 0;
    left: 0;

  }
  .footertxt{
    p{
       @include testimonialstyling; 
    }
  }
  .footercontent h2 {
    color: #000;
    animation: footerbanner 10s linear infinite;
  }
  .footercontent span {
    color: #000;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
  }
.footertxt{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
@keyframes footerbanner {
    0%, 100% {
      transform: translateX(20%);
    }
    50% {
      transform: translateX(-20%);
    }
  }

