/* IMPORTS */
@import "variables";
@import "mixin";
@import "style";
@import "animations";
@import "mediaqueries_tablets";
@import "mediaqueries_mobile";


@font-face {
    font-family: lora;
    src: url(../fonts/Lora-SemiBold.ttf);
}
@font-face {
    font-family: work;
    src: url(../fonts/WorkSans-SemiBold.ttf);
}


/* HEADER */
header{
    background-color: $bgcolor;
    .herowrapper{
        @include herostyling;
        .line{
            object-fit: cover;
            height:20%;
            width: 100%;
        }
        .titlewrapper{
            @include flexcolumncenter;
            .titlebox{
                max-width: 70%;
                @include flexcolumncenter;
                text-align: center;
                        }
                    } 
        .bear_btn{
            @include flexrowspace;
            width: 100%;
        }
    }
}

/* MAIN */
main{
    background-color: $bgcolor;
    /*LAST YEAR */
        .lastyearwrapper{
            @include lastyearstyling;
            position: relative;
            h2{
                z-index: 2;
            }
            img{
                @include lastyearimgmap;
            }
        }
    /* STUCK */
        .stuckmiddle{
            @include stuckmiddlestyling;
            position: relative;
            article{
                max-width: 25%;
            }
            .txtbeginning h2{
                @include stuckh2;
            }
        }
    /* GOLDEN BEAR */
        .goldenbear{
            @include goldenbearstyling;
            .headlinebox{
                padding: 0 35vw 0 0;
                position: relative;
                    p{
                        margin-bottom: 2rem;
                    }
                    h2{
                        line-height: 3.6458333333333335vw;
                        // line-height: 7rem;
                    }
                }
            .contentbox{
                position: relative;
                .testimonial{
                    p{ 
                        @include testimonialstyling;
                    }
                }}
            }
    /* POPPY BEAR */
        .poppybear{
            @extend .goldenbear;
            @include poppybearstyling;
        }
    }
/*FOOTER*/
footer{
   @include footer;
   position: relative;
   overflow: hidden;
   .footerrow{
    @include flexrowspace;
    .leftbox{
        .socialmediaicons{
            margin-bottom: 1rem;
            a{
                padding:2rem 1rem 1rem 1rem;

               img{
                width: 2vw;
               }  
            }
            a:hover {
                img{
                    filter: invert(1);
                    
                }
            }
        }
    }
    .rightbox img{
        width: 30%;
        padding-right: 1rem;
    }
   }
}
.footercontent .footerbanner {
@include footerbanner;
  }
  .footertxt{
    p{
       @include testimonialstyling; 
    }
  }
.footertxt{
    @include flexspaceend;
}