/* IMPORTS */ /* VARIABLES */ /* STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

header {
  height: 100vh;
}

img {
  max-width: 100%;
}

/*FONT STYLING*/
h1 {
  font-family: lora, arial;
  font-size: 8.8rem;
  line-height: 7rem;
  margin: 2rem 0;
}
h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}

h2 {
  font-family: lora, arial;
  font-size: 8.8rem;
}

h3 {
  font-family: lora, arial;
  font-size: 6.4rem;
}

p {
  font-family: work, arial;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.testimonial, .footertxt {
  font-family: lora, arial;
  font-size: 3.2rem;
  line-height: 3.2rem;
}

/* BTN STYLING */
a {
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border: 1px #fff solid;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  color: #000;
  background-color: #fff;
}

.socialmediaicons a {
  border: unset;
  padding: 0.5rem;
}
.socialmediaicons a .socialmediaicons a:hover {
  background-color: black;
}

/*IMG POSITION OF ACTION SECTION */
.action1 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  top: -25vh;
  right: 12vw;
}

.action2 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  left: 3vw;
  top: 22vh;
  width: 18%;
}

.action3 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  top: 65vh;
  right: 0;
  width: 18%;
}

.action4 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  bottom: 90vh;
  left: 25vw;
}

.action5 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  bottom: 80vh;
  right: 15vw;
}

.action6 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  bottom: 40vh;
  left: 0vw;
  width: 18%;
}

.action7 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  bottom: -25vh;
  right: 12vw;
}

@font-face {
  font-family: lora;
  src: url(../fonts/Lora-SemiBold.ttf);
}
@font-face {
  font-family: work;
  src: url(../fonts/WorkSans-SemiBold.ttf);
}
/* HEADER */
header {
  background-color: #000;
}
header .herowrapper {
  color: #fff;
  padding: 0 10rem 10rem 10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .herowrapper .line {
  object-fit: cover;
  height: 20%;
  width: 100%;
}
header .herowrapper .titlewrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .herowrapper .titlewrapper .titlebox {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .herowrapper .bear_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* MAIN */
main {
  background-color: #000;
  /*LAST YEAR */
  /* STUCK */
  /* GOLDEN BEAR */
  /* POPPY BEAR */
}
main .lastyearwrapper {
  color: #fff;
  padding: 10rem 40rem 10rem 10rem;
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
main .lastyearwrapper h2 {
  z-index: 2;
}
main .lastyearwrapper img {
  position: absolute;
  height: 68%;
  bottom: 10%;
  right: 0;
}
main .stuckmiddle {
  background-color: #fff;
  color: #000;
  height: 260vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40rem 0;
  position: relative;
}
main .stuckmiddle article {
  max-width: 25%;
}
main .stuckmiddle .txtbeginning h2 {
  line-height: 7rem;
  margin: 2rem 0;
}
main .goldenbear, main .poppybear {
  color: #fff;
  height: 160vh;
  padding: 25rem 10rem 10rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row;
}
main .goldenbear .contentbox, main .poppybear .contentbox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
main .goldenbear .contentbox div, main .poppybear .contentbox div {
  margin-bottom: 2rem;
}
main .goldenbear .headlinebox, main .poppybear .headlinebox {
  padding: 0 35vw 0 0;
  position: relative;
}
main .goldenbear .headlinebox p, main .poppybear .headlinebox p {
  margin-bottom: 2rem;
}
main .goldenbear .headlinebox h2, main .poppybear .headlinebox h2 {
  line-height: 7rem;
}
main .goldenbear .headlinebox .bearimg1, main .poppybear .headlinebox .bearimg1 {
  position: absolute;
  left: 5%;
  bottom: -15%;
  height: auto;
  width: 50vw;
  right: 0;
  z-index: 1;
}
main .goldenbear .contentbox, main .poppybear .contentbox {
  position: relative;
}
main .goldenbear .contentbox .bearimg2, main .poppybear .contentbox .bearimg2 {
  position: absolute;
  bottom: -11%;
  left: -2%;
  z-index: 1;
  height: auto;
  width: 30vw;
}
main .poppybear {
  background-color: #fff;
  color: #000;
  height: 200vh;
  position: relative;
  overflow: hidden;
}
main .poppybear .circleanimation {
  height: 25%;
  position: absolute;
  right: -10%;
  top: -10%;
  overflow: hidden;
  animation: rotate-center 8s linear infinite both;
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
main .poppybear .headlinebox .bearimg3 {
  position: absolute;
  height: auto;
  width: 30vw;
  left: 5%;
  z-index: 2;
  top: 35%;
}
main .poppybear .contentbox .bearimg4 {
  position: absolute;
  height: 55%;
  bottom: 0%;
  right: 0;
  z-index: 1;
  height: auto;
  width: 60vw;
  max-width: unset;
}

/*FOOTER*/
footer {
  color: #fff;
  padding: 10rem 10rem 10rem 10rem;
  background-color: #000;
  height: 100rem;
  position: relative;
}
footer .cta {
  width: 30vw;
  margin-bottom: 30rem;
}
footer .cta .footertxt, footer .cta p {
  margin-bottom: 5rem;
  line-height: 3.5rem;
}
footer .socialmediaicons img {
  width: 1vw;
}
footer .footerrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footerrow .rightbox img {
  width: 30%;
  padding-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
