/* IMPORTS */ /* VARIABLES */ /* STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

header {
  height: 100vh;
}

img {
  max-width: 100%;
}

/*FONT STYLING*/
h1 {
  font-family: lora, arial;
  font-size: 4.5833333333vw;
  line-height: 3.6458333333vw;
  margin: 1.0416666667vw 0;
}
h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}

h2 {
  font-family: lora, arial;
  font-size: 4.5833333333vw;
}

h3 {
  font-family: lora, arial;
  font-size: 4.1775456919vw;
}

p {
  font-family: work, arial;
  font-size: 1.044386423vw;
  line-height: 1.6666666667vw;
}

.footertxt {
  font-family: lora, arial;
  font-size: 2.088772846vw;
  line-height: 1.6666666667vw;
}

.footercontent span {
  color: #000;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px black;
}

/* BTN STYLING */
a {
  color: #fff;
  font-size: 1.3054830287vw;
  padding: 0.8333333333vw 1.6666666667vw;
  border: 1px #fff solid;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  color: #000;
  background-color: #fff;
}

.socialmediaicons a {
  border: unset;
  padding: 0.5rem;
}
.socialmediaicons a .socialmediaicons a:hover {
  background-color: black;
}

/*IMG POSITION OF ACTION SECTION */
.action1 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  top: -25vh;
  right: 12vw;
}

.action2 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  left: 3vw;
  top: 22vh;
  width: 18%;
}

.action3 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  top: 65vh;
  right: 0;
  width: 18%;
}

.action4 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  bottom: 90vh;
  left: 25vw;
}

.action5 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  bottom: 80vh;
  right: 15vw;
}

.action6 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  bottom: 40vh;
  left: 0vw;
  width: 18%;
}

.action7 {
  position: absolute;
  object-fit: contain;
  height: 20%;
  width: 22%;
  bottom: -25vh;
  right: 12vw;
}

/*IMG POSITION OF BEAR SECTIONS */
.bearimg1 {
  position: absolute;
  left: 5%;
  bottom: -15%;
  height: auto;
  width: 50vw;
  right: 0;
  z-index: 1;
}

.bearimg2 {
  position: absolute;
  bottom: -11%;
  left: -2%;
  z-index: 1;
  height: auto;
  width: 30vw;
}

.bearimg3 {
  position: absolute;
  height: 70vh;
  width: 30vw;
  left: 5%;
  z-index: 2;
  top: 35%;
}

.bearimg4 {
  position: absolute;
  height: 55%;
  bottom: 10%;
  right: 0;
  z-index: 1;
  height: 70%;
  width: 60vw;
  max-width: unset;
}

.circleanimation {
  height: 25%;
  position: absolute;
  right: -10%;
  top: -10%;
  overflow: hidden;
  animation: rotate-center 8s linear infinite both;
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.footercontent h2 {
  color: #000;
  animation: footerbanner 10s linear infinite;
}
@keyframes footerbanner {
  0%, 100% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(-20%);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 13.75vw;
    line-height: 10.9375vw;
  }
  p {
    font-size: 3.1331592689vw;
    line-height: 5vw;
  }
  a {
    font-size: 3.9164490862vw;
  }
  main .lastyear .lastyearwrapper {
    padding: 10rem;
    height: 100vh;
  }
  main .lastyear .lastyearwrapper .facts {
    z-index: 2;
  }
  body main .stuckmiddle {
    padding: 30rem 10rem;
    height: 160vh;
  }
  body main .stuckmiddle .action1 {
    width: 40%;
    top: -17vh;
  }
  body main .stuckmiddle .action2 {
    width: 30%;
    top: 0vh;
  }
  body main .stuckmiddle .action3 {
    width: 30%;
    top: 45vh;
  }
  body main .stuckmiddle .action4 {
    width: 30%;
    top: 65vh;
    left: 12vw;
  }
  body main .stuckmiddle .action5 {
    bottom: 54vh;
    width: 30%;
  }
  body main .stuckmiddle .action6 {
    bottom: 0vh;
    width: 30%;
  }
  body main .stuckmiddle .action7 {
    width: 40%;
    bottom: -17vh;
  }
  body main .stuckmiddle .txtbeginning, body main .stuckmiddle .txtending {
    max-width: unset;
  }
  body main .goldenbear, body main .poppybear {
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  body main .goldenbear .headlinebox, body main .poppybear .headlinebox {
    margin-bottom: 5rem;
  }
  body main .goldenbear .headlinebox .bearimg1, body main .poppybear .headlinebox .bearimg1 {
    left: unset;
    bottom: unset;
    top: 45vh;
  }
  body main .goldenbear .contentbox .testimonial p, body main .poppybear .contentbox .testimonial p {
    font-family: lora, arial;
    font-size: 4.1775456919vw;
    line-height: 5vw;
  }
  body main .goldenbear .contentbox .bearimg2, body main .poppybear .contentbox .bearimg2 {
    left: unset;
    bottom: unset;
    top: 55vh;
  }
  body main .poppybear .headlinebox .bearimg3 {
    width: 30vh;
    height: unset;
    left: -3vh;
    top: 44vh;
  }
  body main .poppybear .contentbox .bearimg4 {
    width: 55vw;
    height: auto;
    bottom: -60vh;
    right: -7vw;
  }
  body footer {
    height: 120vh;
  }
  .footercontent {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20rem;
  }
  .footercontent .cta {
    width: unset;
  }
  .footercontent .cta .join {
    font-size: 3.1331592689vw;
    line-height: 5vw;
    margin-bottom: 5rem;
    margin-top: 10rem;
  }
  .footercontent .cta p {
    font-size: 3.1331592689vw;
    line-height: 5vw;
  }
  footer .footercontent .footerbanner {
    left: unset;
  }
  body footer .footerrow {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  body footer .footerrow .leftbox {
    margin-bottom: 10rem;
  }
  body footer .footerrow .leftbox .socialmediaicons {
    display: flex;
    justify-content: space-between;
  }
  body footer .footerrow .leftbox .socialmediaicons a img {
    width: 7vw;
  }
}
@media screen and (max-width: 576px) {
  .action3, .action4, .action5, .action6, .bearimg1, .bearimg3 {
    display: none;
  }
  p {
    font-size: 4.1775456919vw;
    line-height: 6.6666666667vw;
  }
  a {
    font-size: 5.2219321149vw;
  }
  body main .goldenbear .contentbox .bearimg2, body main .poppybear .contentbox .bearimg2 {
    margin-top: 10rem;
    position: static;
    width: unset;
  }
  body main .poppybear .contentbox .bearimg4 {
    margin-top: 10rem;
    position: static;
    max-width: unset;
    width: 100%;
  }
  body header .herowrapper {
    padding: 0 5rem 5rem 5rem;
    height: 90vh;
  }
  body header .herowrapper .titlewrapper .titlebox {
    max-width: 85%;
  }
  body main .lastyear {
    height: 90vh;
  }
  body main .lastyear .lastyearwrapper {
    padding: 0 3rem 3rem 3rem;
    height: 80vh;
  }
  body main .lastyear .lastyearwrapper .facts h3 {
    font-family: lora, arial;
    font-size: 12.5326370757vw;
  }
  body main .stuckmiddle {
    padding: 15rem 3rem 10rem 3rem;
    height: 120vh;
  }
  body main .stuckmiddle .action1 {
    width: 50%;
    top: -10%;
  }
  body main .stuckmiddle .action2 {
    width: 80%;
    height: unset;
    top: 42%;
    left: 10%;
  }
  body main .stuckmiddle .action7 {
    width: 50%;
    right: 40vw;
    bottom: -26vw;
  }
  body main .stuckmiddle .txtbeginning h2 {
    font-size: 8.3550913838vw;
    margin: 4rem 0;
  }
  body main .goldenbear, body main .poppybear {
    padding: 15rem 3rem 10rem 3rem;
    height: 100vh;
  }
  body main .goldenbear .headlinebox, body main .poppybear .headlinebox {
    padding: unset;
  }
  body main .goldenbear .headlinebox h2, body main .poppybear .headlinebox h2 {
    font-size: 8.3550913838vw;
  }
  body footer {
    padding: 10rem 3rem 10rem 3rem;
    height: 110vh;
  }
  body footer .footercontent {
    height: 35vh;
  }
  body footer .footercontent .cta {
    margin-bottom: 15rem;
  }
  body footer .footercontent .cta .join {
    font-size: 4.1775456919vw;
  }
  body footer .footercontent .cta .footertxt p {
    font-size: 6.1775456919vw;
    line-height: 6vw;
  }
  body footer .footercontent .footerbanner {
    padding: 4vw;
    width: 469vw;
    top: unset;
  }
  body footer .footercontent .footerbanner h2 {
    font-size: 11.5vw;
  }
}
@font-face {
  font-family: lora;
  src: url(../fonts/Lora-SemiBold.ttf);
}
@font-face {
  font-family: work;
  src: url(../fonts/WorkSans-SemiBold.ttf);
}
/* HEADER */
header {
  background-color: #000;
}
header .herowrapper {
  color: #fff;
  padding: 0 10rem 10rem 10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .herowrapper .line {
  object-fit: cover;
  height: 20%;
  width: 100%;
}
header .herowrapper .titlewrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .herowrapper .titlewrapper .titlebox {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .herowrapper .bear_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* MAIN */
main {
  background-color: #000;
  /*LAST YEAR */
  /* STUCK */
  /* GOLDEN BEAR */
  /* POPPY BEAR */
}
main .lastyearwrapper {
  color: #fff;
  padding: 10rem 40rem 10rem 10rem;
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
main .lastyearwrapper h2 {
  z-index: 2;
}
main .lastyearwrapper img {
  position: absolute;
  height: 68%;
  bottom: 10%;
  right: 0;
}
main .stuckmiddle {
  background-color: #fff;
  color: #000;
  height: 260vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40rem 0;
  position: relative;
}
main .stuckmiddle article {
  max-width: 25%;
}
main .stuckmiddle .txtbeginning h2 {
  line-height: 3.6458333333vw;
  margin: 2rem 0;
}
main .goldenbear, main .poppybear {
  color: #fff;
  height: 160vh;
  padding: 25rem 10rem 10rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row;
}
main .goldenbear .contentbox, main .poppybear .contentbox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
main .goldenbear .headlinebox, main .poppybear .headlinebox {
  padding: 0 35vw 0 0;
  position: relative;
}
main .goldenbear .headlinebox p, main .poppybear .headlinebox p {
  margin-bottom: 2rem;
}
main .goldenbear .headlinebox h2, main .poppybear .headlinebox h2 {
  line-height: 3.6458333333vw;
}
main .goldenbear .contentbox, main .poppybear .contentbox {
  position: relative;
}
main .goldenbear .contentbox .testimonial p, main .poppybear .contentbox .testimonial p {
  margin-bottom: 1.0416666667vw;
  line-height: 2.5vw;
  font-family: lora, arial;
  font-size: 2.088772846vw;
}
main .poppybear {
  background-color: #fff;
  color: #000;
  height: 200vh;
  position: relative;
  overflow: hidden;
}

/*FOOTER*/
footer {
  color: #fff;
  padding: 10rem 10rem 10rem 10rem;
  background-color: #000;
  height: 100rem;
  position: relative;
  overflow: hidden;
}
footer .cta {
  width: 40vw;
  margin-bottom: 30rem;
}
footer .cta .join {
  font-family: work, arial;
  font-size: 1.044386423vw;
}
footer .cta .footertxt p {
  margin-bottom: 5rem;
  line-height: 4.5rem;
}
footer .socialmediaicons img {
  width: 1vw;
}
footer .footerrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footerrow .leftbox .socialmediaicons {
  margin-bottom: 1rem;
}
footer .footerrow .leftbox .socialmediaicons a {
  padding: 2rem 1rem 1rem 1rem;
}
footer .footerrow .leftbox .socialmediaicons a img {
  width: 2vw;
}
footer .footerrow .leftbox .socialmediaicons a:hover img {
  filter: invert(1);
}
footer .footerrow .rightbox img {
  width: 30%;
  padding-right: 1rem;
}

.footercontent .footerbanner {
  width: 220vw;
  padding: 4rem;
  background-color: #fff;
  transform: translate(-30%, 150%) rotate(45deg);
  position: absolute;
  margin-left: 35vw;
  top: 0;
  left: 0;
}

.footertxt p {
  margin-bottom: 1.0416666667vw;
  line-height: 2.5vw;
  font-family: lora, arial;
  font-size: 2.088772846vw;
}

.footertxt {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*# sourceMappingURL=style.css.map */
